body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.2em;
}

h1, h2, h3, .month-heading {
    font-family: "Trebuchet MS";
}

h1 {
    color: #ffffff;
    margin: 0px;
    padding-left: 1%;
    font-weight: normal;
    font-size: 2.3em;
    background-color: #885c13;
}

h2, h3 {
    font-weight: 700;
}

h2, h3 {
    color: #885c13;
}

h2, .month-heading {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}

h3 {
    font-size: 1.3em;
    height: 30px;
}

h3 > .btn-success {
    border-radius: 2px;
}

#header .alert-warning {
    margin-top: 10px;
    margin-bottom: 0px;
}

.save {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 3px;
}

.save > span {
    font-size: .8em;
}

.input-container {
    padding-left: 0px;
    padding-right: 0px;
}

#input-form > .form-label {
    clear: left;
}

#input-form .btn-primary {
    margin-bottom: 15px;
}

#input {
    width: 100%;
}

#journal-entries {
    cursor: pointer;
    text-align: center;
}